*{
	box-sizing: border-box;
}

/* Body text styling */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header styling for font, background, placement, text alignment */
header {
	height: 20em;
	width: auto;
	display: flex;
	justify-content: space-between;
	background-color: #03a3df;
	color: white;
  margin: 0;
	padding: 5% 5%;
}

#right-header {
	text-align: right;
}

header h3 {
  margin: 0;
	font-weight: 700;
  font-size: 17px;
}

header p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

/* H2 and H3 tag font size */
h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 17px;
  font-weight: 700;
}

/* Styling for social media in header and map pin in header */
.fa-facebook {
  color: #ffffff;
  font-size: 1em;
}
.fa-twitter-square {
  color: #ffffff;
  font-size: 1em;
}
.fa-instagram {
  color: #ffffff;
  font-size: 1em;
}
.fa-map-marker-alt {
  color: #444444;
  font-size: 1em;
}

/*Styling for navigation*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444444;
}

.navigation {
  float: left;
}

.navigation a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
}

li.navigation {
  display: inline-block;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #444444;
  min-width: 3em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown a:hover:not(.active) {
  background-color: #03a3df;
}

.navigation:hover .dropdown {
  display: block;
}
/* End Test */
.navigation a:link {
  color: #ffffff;
}

.navigation a:visited {
  text-decoration: none;
  color: #ffffff;
}

.navigation {
  font-family: Arial, Helvetica, sans-serif;
}

.navigation a:hover:not(.active) {
  background-color: #03a3df;
}

.active {
  background-color: #ecb722;
}

.navigation {
  border-right: 2px solid #ffffff;
}

/* Last navigation child no right border */
.navigation:last-child {
  border-right: none;
}

/* Link color styling */
a {
  color: #444444;
}

/* Grid styling for index page */
.grid-container-index {
	display: grid;
	grid-column-gap: 4em;
}

.grid-container-index {
	grid-template-columns: 50% 40%;
  grid-template-rows: auto auto auto auto;
}

.what-is {
	grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
	border-style: inset;
	border-color: #03a3df;
	border-width: 2em;
	padding: 1% 1%;
	margin-top: 2em;
}

.quote {
	grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
	border-style: inset;
	border-color: #ecb722;
	border-width: 2em;
	justify-content: space-between;
	text-align: center;
	padding: 1% 1%;
	margin-top: 2em;
}

.goals {
	color: #03a3df;
	font-weight: 700;
}

.contact {
	grid-column-start: 1;
  grid-column-end: 1;
 	grid-row-start: 2;
  grid-row-end: 3;
	border-style: inset;
	border-color: #ecb722;
	border-width: 2em;
	text-align: center;
 	padding: 1% 1%;
	margin-top: 1em;
	margin-bottom: 1em;
}

.instructors {
	grid-column-start: 2;
  grid-column-end: 2;
 	grid-row-start: 2;
  grid-row-end: 3;
	border-style: inset;
	border-color: #03a3df;
	border-width: 2em;
	text-align: center;
 	padding: 1% 1%;
	margin-top: 1em;
	margin-bottom: 1em;
}

.instructors img {
	width: 80px;
	height: 80px;
}

.contact a {
  background-color: #1b447f;
  color: #ffffff;
	font-weight: 700;
  padding: 1em 1em;
	border-radius: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Grid styling for classes page */
.grid-container-classes {
	display: grid;
  grid-template-columns: repeat(12, 1fr);
	grid-row-gap: 1em;
  grid-column-gap: 1em;
	grid-template-rows: auto auto auto auto auto;
}

.our-classes a {
	color: #1b447f;
	font-weight: 700;
  text-decoration: none;
}

.our-classes {
	grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 2;
	justify-content: space-between;
	text-align: left;
	padding: 1% 1%;
}

.a101 {
	display: grid;
	border-style: inset;
	border-color: #03a3df;
	border-width: 1em;
	grid-template-columns: repeat(12, 1fr);
	grid-column-start: 1;
	grid-column-end: 12;
	grid-row-start: 3;
	grid-row-end: 3;
	padding: 1% 1%;
}

.a101-title {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 3;
	grid-row-end: 3;
	padding: 1% 1%;
}

.a101-desc {
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 3;
	grid-row-end: 3;
	padding: 1% 1%;
}

.a101-cost {
	grid-column-start: 7;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 3;
	padding: 1% 1%;
}

.a101-days {
	grid-column-start: 8;
	grid-column-end: 8;
	grid-row-start: 3;
	grid-row-end: 3;
	padding: 1% 1%;
}

.a101-qual {
	grid-column-start: 9;
	grid-column-end: 11;
	grid-row-start: 3;
	grid-row-end: 3;
	padding: 1% 1%;
}

.a101-enroll {
	grid-column-start: 12;
	grid-column-end: 12;
	grid-row-start: 3;
	grid-row-end: 3;
	padding: 1% 1%;
}

.a101-enroll a {
  background-color: #1b447f;
  color: #ffffff;
	font-weight: 700;
  padding: 1em 1em;
	border-radius: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.a102 {
	display: grid;
	border-style: inset;
	border-color: #ecb722;
	border-width: 1em;
	grid-template-columns: repeat(12, 1fr);
	grid-column-start: 1;
	grid-column-end: 12;
	grid-row-start: 4;
	grid-row-end: 4;
	padding: 1% 1%;
}

.a102-title {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 4;
	grid-row-end: 4;
	padding: 1% 1%;
}

.a102-desc {
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 4;
	grid-row-end: 4;
	padding: 1% 1%;
}

.a102-cost {
	grid-column-start: 7;
	grid-column-end: 7;
	grid-row-start: 4;
	grid-row-end: 4;
	padding: 1% 1%;
}

.a102-days {
	grid-column-start: 8;
	grid-column-end: 8;
	grid-row-start: 4;
	grid-row-end: 4;
	padding: 1% 1%;
}

.a102-qual {
	grid-column-start: 9;
	grid-column-end: 11;
	grid-row-start: 4;
	grid-row-end: 4;
	padding: 1% 1%;
}

.a102-enroll {
	grid-column-start: 12;
	grid-column-end: 12;
	grid-row-start: 4;
	grid-row-end: 4;
	padding: 1% 1%;
}

.a102-enroll a {
  background-color: #1b447f;
  color: #ffffff;
	font-weight: 700;
  padding: 1em 1em;
	border-radius: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.a103 {
	display: grid;
	border-style: inset;
	border-color: #03a3df;
	border-width: 1em;
	grid-template-columns: repeat(12, 1fr);
	grid-column-start: 1;
	grid-column-end: 12;
	grid-row-start: 5;
	grid-row-end: 5;
	padding: 1% 1%;
	margin-bottom: 1em;
}

.a103-title {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 5;
	grid-row-end: 5;
	padding: 1% 1%;
}

.a103-desc {
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 5;
	grid-row-end: 5;
	padding: 1% 1%;
}

.a103-cost {
	grid-column-start: 7;
	grid-column-end: 7;
	grid-row-start: 5;
	grid-row-end: 5;
	padding: 1% 1%;
}

.a103-days {
	grid-column-start: 8;
	grid-column-end: 8;
	grid-row-start: 5;
	grid-row-end: 5;
	padding: 1% 1%;
}

.a103-qual {
	grid-column-start: 9;
	grid-column-end: 11;
	grid-row-start: 5;
	grid-row-end: 5;
	padding: 1% 1%;
}

.a103-enroll {
	grid-column-start: 12;
	grid-column-end: 12;
	grid-row-start: 5;
	grid-row-end: 5;
	padding: 1% 1%;
}

.a103-enroll a {
  background-color: #1b447f;
  color: #ffffff;
	font-weight: 700;
  padding: 1em 1em;
	border-radius: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Footer styling for background, text, positioning, links, etc. */
footer {
	clear:both;
}

footer {
	height: 20em;
	background-image: url("../images/footerImage.jpg");
  background-size: cover;
  display: flex;
  justify-content: space-between;
	color: white;
	margin: 0;
	padding: 5% 5%;
}

.footer-link {
	color: white;
	text-decoration: none;
	font-weight: 700;
}

footer .fa-facebook {
  color: #ffffff;
  font-size: 1.5em;
}
footer .fa-twitter-square {
  color: #ffffff;
  font-size: 1.5em;
}
footer .fa-instagram {
  color: #ffffff;
  font-size: 1.5em;
}
