*{
	box-sizing: border-box;
}

/* Body text styling */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header styling for font, background, placement, text alignment */
header {
	height: 20em;
	width: auto;
	display: flex;
	justify-content: space-between;
	background-color: #03a3df;
	color: white;
  margin: 0;
	padding: 5% 5%;
}

#right-header {
	text-align: right;
}

header h3 {
  margin: 0;
	font-weight: 700;
  font-size: 17px;
}

header p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

/* H2 and H3 tag font size */
h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 17px;
  font-weight: 700;
}

/* Styling for social media in header and map pin in header */
.fa-facebook {
  color: #ffffff;
  font-size: 1em;
}
.fa-twitter-square {
  color: #ffffff;
  font-size: 1em;
}
.fa-instagram {
  color: #ffffff;
  font-size: 1em;
}
.fa-map-marker-alt {
  color: #444444;
  font-size: 1em;
}

/*Styling for navigation*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444444;
}

.navigation {
  float: left;
}

.navigation a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navigation {
  display: inline-block;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #444444;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown a:hover:not(.active) {
  background-color: #03a3df;
}

.navigation:hover .dropdown {
  display: block;
}
/* End Test */
.navigation a:link {
  color: #ffffff;
}

.navigation a:visited {
  text-decoration: none;
  color: #ffffff;
}

.navigation {
  font-family: Arial, Helvetica, sans-serif;
}

.navigation a:hover:not(.active) {
  background-color: #03a3df;
}

.active {
  background-color: #ecb722;
}

.navigation {
  border-right: 2px solid #ffffff;
}

/* Last navigation child no right border */
.navigation:last-child {
  border-right: none;
}

/* Link color styling */
a {
  color: #444444;
}

/* Footer styling for background, text, positioning, links, etc. */
footer {
	clear:both;
}

footer {
	height: 20em;
	background-image: url("../images/footerImage.jpg");
  background-size: cover;
  display: flex;
  justify-content: space-between;
	color: white;
	margin: 0;
	padding: 5% 5%;
}

.footer-link {
	color: white;
	text-decoration: none;
	font-weight: 700;
}

footer .fa-facebook {
  color: #ffffff;
  font-size: 1.5em;
}
footer .fa-twitter-square {
  color: #ffffff;
  font-size: 1.5em;
}
footer .fa-instagram {
  color: #ffffff;
  font-size: 1.5em;
}
